@font-face {
  font-family: Raleway Regular;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Raleway Bold;
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Raleway Thin;
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Raleway Light;
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Raleway Regular, Helvetica;
  background-color: transparent;
  --menu-height: 40px;
  --content-margin: 5px;
}

.background {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/**
 * Top Menu.
 */
 .menu-container {
  position: absolute;
  height: var(--menu-height);
  margin: 0 auto;
  top: var(--menu-height);
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
 }

.menu {
  display: inline-block;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  display: block;
  margin: 4px auto;
  opacity: .75;
  font-size: 12pt;
  color: #FFF;
  text-transform: uppercase;
  padding: 0 8px 0 8px;
}

.menu-item a:hover {
  opacity: 1;
  transition: all .1s ease;
}

.menu-divider {
  width: 1px;
  height: 10pt;
  margin: 0 8px 0 8px;
  background-color: #EEE;
  display: inline-block;
}

/**
 * Content.
 */
.content {
  height: 100%;
  width: 100%;
  color: white;
  z-index: 2;
  padding: 30px;
  display: flex;
}

.center {
  display: block;
  margin: auto auto;
}

.left {
  float: right;
}

.content h1 {
  display: block;
  font-family: Raleway Light, Helvetica;
  margin: 25px 0 25px 0;
  font-size: 32pt;
}

.content h2 {
  display: block;
  font-family: Raleway Thin, Helvetica;
  font-size: 18pt;
}

/**
 * Content backgrounds.
 */
.home {
  background-color: #3f51b5;
}

.showcase {
  background-color: #ff00c0;
}

.about {
  background-color: #00ffc0;
}

/**
 * Transition between components.
 */
 .fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.child-view {
  position: absolute;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
